.subt-h2 {
    color: rgb(4, 111, 111);
    text-align: center;
    margin: 0 0 5px;
}
.pt1 {
    font-size: 17px;
    text-align: center;
    margin-top:0 
}
.il{
    width: 100%;
    display: block;

}

